<div class="survey-end">
  <h2>Lähetä vielä vastauksesi.</h2>
  <p>Voit vielä palata muuttamaan vastauksia. Jos olet tyytyväinen vastauksiisi, kuittaa ne klikkaamalla alla olevaa nappia.</p>

  <label for="end-thoughts">
    Kommentoi kyselyä vapaasti:
    <textarea class="end-thoughts" rows="10" cols="70" id="end-thoughts"></textarea>
  </label>
  <button type="button" class="submit-survey-btn">Lähetä vastaukset</button>
</div>