<div class="survey-end">
  <h2>Kuittaa vielä vastauksesi.</h2>
  <p>Voit vielä palata muuttamaan vastauksia. Jos olet tyytyväinen vastauksiisi, kuittaa ne klikkaamalla alla olevaa nappia.</p>
  <button type="button" class="submit-survey-btn">Kuittaa vastaukset</button>
</div>