<ul class="browse">
  {{#each images}}
    <li class="image-product">
      <img class="image-product__thumbnail" src="{{ imageSrc }}" width="160" height="120">
      <img class="image-product__flying-thumbnail" src="{{ imageSrc }}" width="160" height="120">
    </li>
  {{/each}}
</ul>

<div class="image-collection">
  <span class="added-count">0</span>
</div>
