<div class="image-window">
  <div class="image-box">
    <img src="{{ startImgSrc }}" width="480" height="360" class="image-box-current">
    <img src="{{ leftImgSrc }}" width="480" height="360" class="image-box-left">
    <img src="{{ rightImgSrc }}" width="480" height="360" class="image-box-right">
  </div>
  <div class="image-controls">
    <div class="browse-left">&lt;</div>
    <div class="browse-right">&gt;</div>
  </div>
</div>