<button type="button" class="previous-state-btn">Edellinen</button>
<div class="state-progress">{{ currentStateNumber }} / {{ totalStatesCount }}</div>
<button type="button" class="next-state-btn">Seuraava</button>