<button type="button" {{#if noPrevious }}style="visibility: hidden"{{/if}} class="previous-state-btn">Edellinen</button>
<div class="state-progress">{{ currentStateNumber }} / {{ totalStatesCount }}</div>
<button type="button" {{#if noNext }}style="visibility: hidden"{{/if}} class="next-state-btn">Seuraava</button>